@import "open-props/style";
@import "open-props/normalize";
@import "open-props/buttons";
@import "open-props/colors-hsl";
:root {
  --font-mono:
    Dank Mono, Operator Mono, Inconsolata, Fira Mono, ui-monospace, SF
    Mono,Monaco, Droid Sans Mono, Source Code Pro, Cascadia Code,Menlo,
    Consolas, DejaVu Sans Mono, monospace;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  align-content: start;
  margin: 0;
  display: grid;
  justify-items: center;
  min-width: 320px;
  min-height: 100vh;

}

[color-scheme="dark"] {
  body {
    background-color: var(--purple-12);
    color: rgba(255, 255, 255, 0.87);
  }
}

[color-scheme="light"] {
  body {
    background-color: var(--purple-1);
    color: rgba(0, 0, 0, 0.87);
  }
}
